body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
canvas {
  display: block;
  background-color: #FBD802;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
p{
  font-size: 1.65em;
  font-weight: 600;
  line-height: .05em;
  color:black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
}

.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.start-container{
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.credit-chase{
  position: relative;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.dashboard-container{
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center !important;
  background:white;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  overflow: auto;
  width:100%;
  height:9%;
  position:fixed;
  bottom:0;
  left:0;
}
.score-container{
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}
.score {
  display: block;
  position: relative;
  top: 20;
  z-index: 1;
  font-weight: 500;
  font-size: 3.5vmin;
  color: black;
  font-family: 'Roboto';
  letter-spacing: -2px;
}

.dashboard-logo {
  position: fixed;
  right: 1em;
  bottom: 1.5em;
  height: 2.5em;
}

span {
  padding: 5px;
  margin: 5px;
}

.controls {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}
.endgame{
  position: absolute;
  -webkit-text-fill-color: #000000;
  background-color: #ffffff;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
button{
  border: none;
  background-color: #00A6CA;
  color: white;
  width: 12em;
  height: 3em;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}
